#headerTitle { display: none; }
#headerContainer { text-align: center; }
#headerContainer a { border: none; }
#inputContainer { text-align: center; }
#searchInput { width: 400px; }

.dataTables_filter {display: none;}


body {font-size: 20px; font-family: Arial, Helvetica;}
