#headerTitle { display: none; }
#headerContainer { text-align: center; }
#headerContainer a { border: none; }
#inputContainer { text-align: center; }
#searchInput { width: 400px; }

.dataTables_filter {display: none;}


.textbasic {font-size: 20px; font-family: Arial, Helvetica;}
.highlight {color: #00F;}

#resultTable { width: 100%; }
#resultTable th { border-bottom: 1px solid black; }
